@model Store.Web.ViewModels.AuthorViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container mt-5">
    <h2 class="text-center">Author Details</h2>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>Author Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </dl>
            <div class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>
