@model Store.Web.ViewModels.BookViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container mt-5">
    <h2 class="text-center">Book Details</h2>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PublicationDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PublicationDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Edition)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Edition)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PageNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PageNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalCopies)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TotalCopies)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AvialableCopies)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AvialableCopies)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ISBN)
                </dd>
            </dl>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
</div>
