@model Store.Model.Models.Publishers

@{
    ViewBag.Title = "Add Publisher";
}

<div class="container mt-5">
    <h2 class="text-center">Add Publisher</h2>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                </div>
                <br />

                @*<div class="form-group">
                        @Html.LabelFor(model => model.Address)
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                    </div>
                    <br />

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber)
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                    </div>
                    <br />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>
                    <br />*@

                <div class="form-group text-center">
                    <input type="submit" value="Add Publisher" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
