@model IEnumerable<Store.Web.ViewModels.PossitionViewModel>

@{
    ViewBag.Title = "Position Index";
}

<h2>Position Index</h2>
<div class="input-group mb-3">
    <input type="text" id="searchInput" class="form-control" onkeyup="search()" placeholder="Search for position titles...">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>

<div class="text-right mb-3">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Position Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionTitle)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm", onclick = "return confirmDelete();" })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this item?");
    }

    function search() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.querySelector(".table");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
